.page {
    width: 100%;
    min-height: 100vh;
    font-family: sans-serif;
    display: flex;
}

.leftSide {
    flex: 4;
    padding: 20px;
    background: #f4f6f9;
}

.rightSide {
    flex: 10;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 20px;
}
