.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.wrapper_left_side {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: #4c93cc;
}

.form {
    width: 100%;
    transform: translateX(50%);
    height: 40%;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    display: flex;
}

.caption {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 92px;
    font-weight: bold;
    color: white;
}
